
[checking connections]
hostname: 192.168.1.14
username: Ylx6eml2hUJ4QA2F/VOHtg==
password: R6Apd06Z3oz26TsbS0zLfA==
command: netstat -ant

[test]
hostname: 192.168.1.14
username: xIbOlUx3wEfhUfzVUaxg6Q==
password: R6Apd06Z3oz26TsbS0zLfA==
command: netstat -ant

[test2]
hostname: 192.168.1.14
username: Ylx6eml2hUJ4QA2F/VOHtg==
password: R6Apd06Z3oz26TsbS0zLfA==
command: uname -a
